//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Ubuntu:300,400';
$sourceSansProFont: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';

$fontFamily: 'Ubuntu', sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;

$baseFontSize: 16px;



// Paths

$i: "../i/";
$fontPath: "../fonts/";


 // Colors
$black: #000000;
$white: #ffffff;
$headerBackground: #2c2f36;
$hostingBackground: #e2e2e2;
$serverWrapperBorder: #2c2f36;
$ssdTitle: #14313d;
$linkBackground: #00c494;
$reviewsBackground: #f0f0f0;
$reviewsText: #010101;
$locationBg: #323d49;
$advantagesColor: #f6f6f6;
