* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
}

.hosting {
  background-color: $hostingBackground;
  @include display(flex);
  @include flex-flow(row,wrap);
  @include justify-content(space-around);
  padding: 105px 0;
}

.server-wrapper {
  @include display(flex);
  @include flex-flow(column,wrap);
  @include justify-content(center);
  @include align-items(center);
  width: 270px;
  height: 270px;
  border: 8px solid $serverWrapperBorder;
  border-radius: 50%;
  position: relative;

  @include e(cloud) {
    position: absolute;

    @include m(cloud1) {
      max-width: 292px;
      top: -41px;
      left: -70px;
    }

    @include m(cloud2) {
      max-width: 399px;
      top: 0;
      right: -130px;
    }

    img {
      width: 100%;
    }
  }

  @include m(speed) {
    width: 168px;
    height: 168px;
    border: none;
    background-color: $white;
    position: relative;

    &::after {
      content: 'Speed';
      position: absolute;
      bottom: -70px;
      font: {
        size: 30px;
        weight: 300;
      }
    }
  }

  @include m(support) {
    width: 168px;
    height: 168px;
    border: none;
    background-color: $white;
    position: relative;

    &::after {
      content: 'Support';
      position: absolute;
      bottom: -70px;
      font: {
        size: 30px;
        weight: 300;
      }
    }
  }

  @include m(smart) {
    width: 168px;
    height: 168px;
    border: none;
    background-color: $white;
    position: relative;

    &::after {
      content: 'Smart';
      position: absolute;
      bottom: -70px;
      font: {
        size: 30px;
        weight: 300;
      }
    }
  }
}

.server {
  width: 100px;
  height: 32px;
  background: linear-gradient(to top, #8c8c8c 0%, #b9b9b9 100%);
  border-radius: 14px;
  border: 3px solid $white;
  margin-bottom: 3px;
  z-index: 1;

  @include m(advantages) {
    background: #f6f6f6;
    width: 72px;
    height: 20px;
    position: relative;
    z-index: 0;
  }

  @include e(dot) {
    width: 6px;
    height: 6px;
    background: $white;
    border-radius: 50%;
    position: relative;
    float: right;
    right: 20px;
    top: 5px;

    &::before {
      @include pseudo-server();
      right: 9px;
    }

    &::after {
      @include pseudo-server();
      right: -9px;
    }
  }
}

.ssd {
  max-width: 540px;

  @include e(title) {
    color: $ssdTitle;
    font: {
      family: $fontFamily;
      size: rem(50px);
      weight: 400;
    }
  }

  @include e(description) {
    color: $ssdTitle;
    font: {
      family: $fontFamily;
      size: rem(28px);
      weight: 300;
    }
    margin: 20px 0;
  }

  @include e(link) {
    display: inline-block;
    text-decoration: none;
    padding: 25px 16px 25px 60px;
    background-color: $linkBackground;
    border-radius: 12px;
    color: $white;
    font: {
      family: $fontFamily;
      size: rem(28px);
      weight: 400;
    }

    &:hover {
      background-color: #04a981;
    }
  }
}

.reviews {
  background-color: $reviewsBackground;
  padding: 60px 0;

  @include e(text) {
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
    color: $reviewsText;
    font: {
      family: $fontFamily;
      size: rem(24px);
      weight: 300;
    }
  }

  @include e(user) {
    font: {
      size: rem(19px);
      style: italic;
    }
  }
}

.control-server {
  @include display(flex);
  @include flex-flow(row,wrap);
  @include justify-content(space-around);
  padding: 75px 0 5px 0;

  .control {
    width: 365px;

    @include e(title) {
      color: $serverWrapperBorder;
      font: {
        size: rem(35px);
        weight: 400;
      }
      margin-bottom: 15px;
    }

    @include e(description) {
        font: {
          size: rem(18px);
          weight: 300;
        }
      color: $serverWrapperBorder;
    }
  }

  .img-block {
    width: 270px;
    height: 270px;
    position: relative;

    .phone-block {
      position: absolute;
      width: 107px;
      bottom: 30px;
      right: -10px;
    }
  }
}

.advantages {
  @include display(flex);
  @include flex-flow(row,wrap);
  @include justify-content(space-around);
  padding: 45px 0 142px 0 ;
  background-color: $advantagesColor;

  .server-img {
    position: absolute;
    width: 35px;
    top: 15px;

    @include m(handphone) {
      width: 97px;
      top: 30px;
    }

    @include m(lamp) {
      width: 121px;
    }
  }
}

.location {
  background-color: $locationBg;
  @include display(flex);
  @include flex-flow(row,wrap);
  @include justify-content(space-around);
  padding: 105px 0;

  .map-block {
    max-width: 303px;
    position: relative;

    @include e(img) {
      width: 100%;

      @include m(border) {

      }

      @include m(map) {
        position: absolute;
        top: 50px;
        left: 7px;
      }
    }
  }

  .locations {
    max-width: 519px;
    @include display(flex);
    @include flex-flow(column,wrap);
    @include justify-content(center);

    @include e(title) {
      color: $white;
      font: {
        size: rem(40px);
        weight: 400;
      }
      margin-bottom: 20px;
    }

    @include e(description) {
      color: $white;
      font: {
        size: 20px;
        weight: 300;
      }
    }
  }
}

.footer {
  background-image: url("../../../i/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .touch {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    @include display(flex);
    @include flex-flow(column,wrap);
    @include justify-content(center);

    @include e(title) {
      color: $white;
      text-transform: uppercase;
      font: {
        size: rem(35px);
        weight: 400;
      }
      margin: 55px 0 140px 0;
      position: relative;

      &:after {
        content: '';
        width: 86px;
        height: 2px;
        background: $white;
        position: absolute;
        bottom: -70px;
        left: calc(50% - 43px);
      }
    }

    .social-links {
      width: 230px;
      margin: 0 auto;
      list-style-type: none;
      @include display(flex);
      @include justify-content(space-between);
      padding-bottom: 100px;

      @include e(icon) {
        font-size: 24px;

        a {
          color: $white;
          transition: 0.5s;

          &:hover {
            color: $linkBackground;
          }
        }
      }
    }

    .form {
      @include display(flex);
      @include flex-flow(row, wrap);
      @include justify-content(space-between);
      margin-bottom: 70px;

      @include e(input) {
        width: 45%;
        margin-bottom: 95px;
        background: none;
        border: none;
        border-bottom: 1px solid $white;
        outline: none;
        padding: 0 0 10px 20px;
        color: $white;
        font-style: italic;

        @include m(message) {
          width: 100%;
          margin-bottom: 40px;
        }
      }

      @include e(button) {
        background: none;
        color: $white;
        font-size: 24px;
        text-transform: uppercase;
        border: 3px solid $white;
        padding: 14px 55px 14px 55px;
        margin: 0 auto;
        cursor: pointer;
        transition: .5s;

        &:hover {
          color: $linkBackground;
        }
      }
    }
  }
}

